<thead>
  <tr>
    {{#each-in fields as |key value|}}
      <th>
        {{#if (find-by 'name' key metadata)}}
          {{#with (find-by 'name' key metadata) as |meta|}}
            {{meta.alias}}
          {{/with}}
        {{else}}
          {{key}}
        {{/if}}
      </th>
    {{/each-in}}
  </tr>
</thead>
<tbody>
  {{#each model as |item|}}
    <tr>
      {{#each-in fields as |key value|}}
        <td>
          {{get item key}}
        </td>
      {{/each-in}}
    </tr>
  {{/each}}
</tbody>
