@import "ember-searchable-select/style";

body {
  background-color: #fafafa;
  color: #212121;
}

.scrollable-menus {
}

.Searchable-select {
  color: black !important;
}

// .ui.grid>.column+.divider, .ui.grid>.row>.column+.divider {
//     left: 50%;
// }

.divider-column {
  position: relative;
  padding: 0 !important;
}

.scroll-horizontal-rotated {
  overflow-x: auto;
  transform:rotateX(180deg);
  -ms-transform:rotateX(180deg); /* IE 9 */
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.cancel-rotate {
  transform:rotateX(180deg);
  -ms-transform:rotateX(180deg); /* IE 9 */
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.Searchable-select {
  min-width: 400px;
}

.clickable {
  cursor: pointer;
}

