<div class="ten wide center aligned column">
  <br/><br/><br/>
  <h1 class="ui header">
    <div class="content">
      Welcome to the data catalog
      <div class="sub header">This data catalog provides user-friendly datasets from a variety of sources.<br/><br/>
      Select a topic to get started.</div>
    </div>
  </h1>
  <br/><br/>
  <i class="vertically grey flipped massive reply icon"></i>
</div>
