<div class="divider-column">
  <div class="ui vertical divider">
    <i class="ui icon right arrow"></i>
  </div>
</div>
<div class="eight wide column">
  <div class="ui basic segment scrollable-menus">
    {{menus-component
      model=model
      subRoute='categories.sub-categories.tertiary-categories'
      groupColumn='menu2'}}
  </div>
</div>
{{outlet}}
