<div class="main-content-offset">
  <div class="ui stackable grid main-content">
    <div class="six wide column tags">
      <div class="ui grid categories-split">
        <div class="row categories-split-top">
          <h3 class="ui dividing header tags-header">
            Categories
          </h3>
          {{tags-menu model=model selected=selectedTags.tags}}
        </div>
        <div class="row categories-split-bottom">
          <div class="ui basic segment">
            Welcome.
          </div>
        </div>
      </div>
    </div>
    <div class="ten wide column results-list">
      <div class="scrollable-menus">
        <h4 class="ui dividing header">
          Datasets
        </h4>
        <div class="ui selection list">
          {{#each filtered as |dataSet|}}
            {{#link-to 'datasets' dataSet.id class='item'}}
              <div class="content">
                <div class="header">
                  {{dataSet.menu3}}
                  {{#each dataSet.tagsValues as |tag|}}
                    <div class="ui basic mini label">
                      {{tag}}
                    </div>
                  {{/each}}
                </div>
                <div class="description">
                </div>
              </div>
            {{/link-to}}
          {{/each}}
        </div>  
      </div>
    </div>
  </div>
</div>
